<b>Details about Candidates uploaded:</b><br><br>

<div *ngIf="isLoading">
  <progress></progress>
</div>

<div *ngIf="(!isLoading) && errorMsg != ''">{{errorMsg}}</div>

<div *ngIf="(!isLoading) && errorMsg == ''">
  <div>Total Candidates Uploaded : {{candDetails.candidatesUploaded}}  of {{candDetails.totalCandidates}}</div>
  <div>Upload Start Date : {{candDetails.startDate}}</div>
  <div>Last Pause Date : {{candDetails.pausedDate}}</div>
</div>
