<b>Details about Jobs uploaded:</b><br><br>

<div *ngIf="isLoading">
  <progress></progress>
</div>

<div *ngIf="(!isLoading) && errorMsg != ''">{{errorMsg}}</div>

<div *ngIf="(!isLoading) && errorMsg == ''">
  <div>Total Jobs Uploaded : {{jobDetails.jobsUploaded}}  of {{jobDetails.totalJobs}}</div>
  <div>Upload Start Date : {{jobDetails.startDate}}</div>
  <div>Last Pause Date : {{jobDetails.pausedDate}}</div>
</div>
