<div>
  <app-header></app-header>
</div>
<div style="width:25%;height:100%;float: left;">
  <app-navigation></app-navigation>
</div>
<div style="width:75%;height:100%;float: right;">
  <app-details></app-details>
</div>
