<div style="width:100%;height:211px;color:darkgray;padding:10px -7px 1px 5px;border:1px solid darkgray;">
  <div style="height:200px;">
    <b>Navigation</b>
    <ul>
      <li><a routerLink="jobs">Jobs</a></li>
      <li><a routerLink="cands">Candidates</a></li>
    </ul>
  </div>
</div>
